aws:
  access_key_id: 'YOUR_ACCESS_KEY_ID'                 # aws user with read permissions to ec2
  secret_access_key: 'YOUR_SECRET_KEY'
sites:
  project_one:
    elb: 'project_one.elb.amazonaws.com'               # the hostname of the project's elb
    region: 'us-east-1'                                # the region of the ASG
  project_two:
    elb: 'project_two.elb.amazonaws.com'
    region: 'us-east-1'